.btn{
    width: 167px;
    height: 80px;
    top: 119px;
    left: 1155px;
    border-radius: 10px;
    background-color: #6278F7;
    color: #FFFF;
    border: none;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 25px;
}

.btn:hover{
    color: #95FFD4;
    cursor: pointer;
    /* box-shadow: 4px 4px 10px 0px #6278F7; */
}

.btn:active{
    transform: scale(1.02);
    
}