.container{
    margin: 24px 0;    
    font-family: 'Montserrat', sans-serif;
}



.container label{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;   
}


.container .input{
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border:none;
    padding: 30px 20px;
    outline-color: #6278F7;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #171717;
    
}


::placeholder{
    color: #A4A4A4;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}