.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.container label{
    color: #212121;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
}

.input{
    width: 930px;
    height: 80px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 25px;
    font-size: 18px;
    font-family: 'Montserrat';
    margin-top: 10px;
    outline: none;
}


::placeholder{
    color: #A4A4A4;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}